<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사업자 페이지</title>
    <!-- 부트스트랩 CDN 링크 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- 외부 CSS 파일 추가 -->
    <link rel="stylesheet" href="/static/css/owner/my-page.css" type="text/css">
</head>
<body>
<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
            <h4 class="text-center mb-4">사업자 페이지</h4>
            <h5 th:text="${ownerName}"></h5>
        </div>
        <div class="col-md-9">
            <div class="list-group">
                <div class="list-group-item bg-primary text-white">
                    <div class="row">
                        <div class="col-md-3">식당 이미지</div>
                        <div class="col-md-5">식당 이름</div>
                        <div class="col-md-4">식당 정보</div>
                    </div>
                </div>
                <div th:each="list: ${restaurantList}">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="restaurant-img" th:src="@{${list.getImagePath}}">
                            </div>
                            <div class="col-md-5">
                                <form th:action="@{/owner/my-page}" method="post">
                                    <input type="hidden" name="restaurantId" th:value="${list.getId()}">
                                    <button type="submit" class="btn btn-link" th:text="${list.getName()}"></button>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <div>식당 주소: <span th:text="${list.getBusinessAddress()}"></span></div>
                                <div>식당 전화번호: <span th:text="${list.getCallNum()}"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-5 text-center">
        <button type="button" class="btn btn-primary" onclick="location.href='/restaurants/add'">식당 추가</button>
    </div>
</div>
<!-- 부트스트랩 CDN 스크립트 추가 -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>