<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 부트스트랩 CDN 링크 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/owner/my-restaurant.css">
</head>
<body>
<!-- 전체 컨테이너 -->
<div class="container">
    <div class="my-5">
        <!-- 식당 정보 -->
        <h2>식당</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="${restaurantInfo.getName()}"></h5>
                <p class="card-text" th:text="${restaurantInfo.getBusinessAddress()}"></p>
                <p class="card-text" th:text="${restaurantInfo.getCallNum()}"></p>
            </div>
        </div>
    </div>

    <div class="my-5">
        <!-- 음식 리스트 -->
        <h2>음식</h2>
        <div class="row">
            <div class="col-md-4" th:each="list : ${foodList}">
                <div class="card mb-3">
                    <img class="card-img-top" th:src="${list.getImagePath}" alt="음식 이미지">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${list.getName()}"></h5>
                        <p class="card-text" th:text="${list.getPrice()}"></p>
                        <p class="card-text" th:text="${list.getInfo()}"></p>
                        <p class="card-text" th:text="${list.getCategory()}"></p>
                        <div class="btn-group">
                            <form th:action="@{/food/delete}" method="get">
                                <input type="hidden" name="foodId" th:value="${list.getId()}">
                                <button type="submit" class="btn btn-danger">삭제</button>
                            </form>
                            <form th:action="@{/food/validate-update}" method="get">
                                <input type="hidden" name="foodId" th:value="${list.getId()}">
                                <button type="submit" class="btn btn-primary">변경</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-5">
        <!-- 주문 버튼 -->

        <!-- HTML 코드 -->
        <div th:if="${!orderInList.isEmpty()}" id="orderBtnWrapper">
            <a data-th-href="@{/owner/order-page}" class="btn btn-success">주문!!</a>
        </div>

        <!-- 추가, 삭제, 변경 버튼 -->
        <div class="btn-group">
            <a th:href="@{/food/add}" class="btn btn-primary">음식추가</a>
            <a th:href="@{/restaurants/delete}" class="btn btn-danger">식당 삭제</a>
            <a th:href="@{/restaurants/validate-update}" class="btn btn-warning">식당 정보 변경</a>
        </div>
    </div>

</div>
<!-- 부트스트랩 스크립트 CDN 링크 추가 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
