<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="list:${orderMenuList}">
  주문음식<div th:text="${list.getFood().getName()}"></div>
  주문수<div th:text="${list.getCount()}"></div>
  가격<div th:text="${list.getPrice()}"></div>
    주문자:<div th:text="${list.getUser().getNickName()}"></div>
    주소:<div th:text="${list.getUser().getHomeAddress()}"></div>
    연락처:<div th:text="${list.getUser().getPhoneNum()}"></div>
    <form th:action="@{/owner/result-cancel}">
        <input type="hidden" name="orderId" th:value="${list.getOrderIn().getId()}">
        <input type="hidden" name="userId" th:value="${list.getUser().getId()}">
        <input type="submit"  th:value="취소">
    </form><form th:action="@{/owner/result-cooking}">
        <input type="hidden" name="orderId" th:value="${list.getOrderIn().getId()}">
        <input type="hidden" name="userId" th:value="${list.getUser().getId()}">
        <input type="submit"  th:value="승인">
    </form>
</div>
</body>
</html>