<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
          integrity="sha512-H8CvAuKoRvcAizWrVsIh2bKONsBc9T3b/q3A1jW8JvAzpPf/MDI+L/olQWxhhvapcBQXZ1mVmZGd41mP4Jj4w=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/css/owner/validate-owner.css">
</head>
<body>
<div th:if="${deleteFoodId}!=null" class="container mt-5">
    <div class="card">
        <div class="card-header">
            삭제 확인
        </div>
        <div class="card-body">
            <form th:action="@{/food/delete}" method="post">
                <div class="form-group">
                    <label for="name">아이디:</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="password">비밀번호:</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <input type="hidden" name="foodId" th:value="${deleteFoodId}">
                <button type="submit" class="btn btn-primary">확인</button>
            </form>
        </div>
    </div>
</div>
<div th:if="${updateFoodId}!=null" class="container mt-5">
    <div class="card">
        <div class="card-header">
            업데이트 확인
        </div>
        <div class="card-body">
            <form th:action="@{/food/validate-update}" method="post">
                <div class="form-group">
                    <label for="name">아이디:</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label for="password">비밀번호:</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <input type="hidden" name="foodId" th:value="${updateFoodId}">
                <button type="submit" class="btn btn-primary">확인</button>
            </form>
        </div>
    </div>
</div>
<div th:if="${deleteRestaurantId}!=null" class="container mt-5">
    <div class="card">
        <div class="card-header">
            식당삭제 확인
        </div>
        <div class="card-body">
            <form th:action="@{/restaurants/delete}" method="post">
                <div class="form-group">
                    <label for="name">아이디:</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label for="password">비밀번호:</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <input type="hidden" name="foodId" th:value="${deleteRestaurantId}">
                <button type="submit" class="btn btn-primary">확인</button>
            </form>
        </div>
    </div>
</div>
<div th:if="${updateRestaurantId}!=null" class="container mt-5">
    <div class="card">
        <div class="card-header">
            식당업데이트 확인
        </div>
        <div class="card-body">
            <form th:action="@{/restaurants/validate-update}" method="post">
                <div class="form-group">
                    <label for="name">아이디:</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label for="password">비밀번호:</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <input type="hidden" name="foodId" th:value="${updateRestaurantId}">
                <button type="submit" class="btn btn-primary">확인</button>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>