<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/food/add.css">
</head>
<body>
<div class="container">
  <form th:action="@{/food/add}" method="post" enctype="multipart/form-data">
    <div class="input">
      <label for="name">메뉴이름</label>
      <input type="text" name="name" id="name" class="form-control">
    </div>

    <div class="input">
      <label for="price">가격</label>
      <input type="text" name="price" id="price" class="form-control">
    </div>

    <div class="input">
      <label for="info">정보</label>
      <input type="text" name="info" id="info" class="form-control">
    </div>

    <div class="input">
      <label for="category">종류</label>
      <input type="text" name="category" id="category" class="form-control">
    </div>

    <div class="border_clear">사진 이미지 업로드</div>
    <input type="file" name="file" accept="image/*" class="form-control-file">

    <div class="button">
      <button type="submit"><span>NEXT</span></button>
    </div>
  </form>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>